<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<Configuration status="WARN">
	<Appenders>
	    <Console name="ConsoleAppender" target="SYSTEM_OUT">
      		<PatternLayout pattern="%d %m%n"/>
    	</Console>
		<RollingRandomAccessFile name="ErrorAppender"
			fileName="cbas_logs/error.log" filePattern="cbas_logs/$${date:yyyy-MM}/error-%d{yyyy-MM-dd-HH}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="6"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<ThresholdFilter level="error"/>
		</RollingRandomAccessFile>

		<RollingRandomAccessFile name="DebugAppender"
			fileName="cbas_logs/debug.log" filePattern="cbas_logs/$${date:yyyy-MM}/debug-%d{yyyy-MM-dd-HH}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="6"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
<!-- 			<ThresholdFilter level="debug"/> -->
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<Root level="debug">
<!-- 			<AppenderRef ref="ConsoleAppender" /> -->
			<AppenderRef ref="ErrorAppender" />
			<AppenderRef ref="DebugAppender" />
		</Root>
	</Loggers>
</Configuration>