.page-header {
    font-size: 24px;
    margin: 0 0 20px;
    padding: 0;
    border: none;
    line-height: 28px;
}
.panel-heading {
    border: none;
}
.page-content{
    background: #d9e0e7;
}
.p-b-5 {
    padding-bottom: 5px!important;
}
.panel {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.panel-inverse>.panel-heading {
    background: #242a30;
}
.panel-danger>.panel-heading, .panel-info>.panel-heading, .panel-inverse>.panel-heading, .panel-primary>.panel-heading, .panel-success>.panel-heading, .panel-warning>.panel-heading {
    color: #fff;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 60%;
    font-weight: 300;
    color: #7c7f83;
}
.breadcrumb {
    padding: 0;
    margin: 0;
    background: 0 0;
}
.breadcrumb>li a {
    color: #333;
}
.tab-content {
    padding: 15px;
    margin-bottom: 20px;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.m-b-10 {
    margin-bottom: 10px!important;
}
.btn.btn-default {
    color: #fff;
    background: #b6c2c9;
    border-color: #b6c2c9;
}
.nav-pills, .nav-tabs {
    margin-bottom: 0px;
}
.nav-tabs {
    background: #c1ccd1;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.nav>li>a {
    color: #6e7179;
}
.dashboard-stat .details .number{
    font-size: 18px;
}